*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color: white;
    
   
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: black;
    padding: 30px;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 10px;
}
button{
    background-color: royalblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
}