*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
    background-color: #111;
}
h2{
    font-size: 50px;
}
button{
    background-color: crimson;
    padding: 10px 20px;
    margin: 10px;
}