*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'helvetica neue';
   
}
html,body{
    height: 100%;
    width: 100%;
    
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.card{
    /* height: 300px; */
    width: 450px;
    background-color: white;
    border-radius: 10px;
    padding:  30px;
}
.card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 500;
}
.card p span{
    font-weight: 600;
    color: royalblue;
}
.outer{
    height: 20px;
    border-radius: 50px;
    width: 100%;
    background-color: rgb(197,197,197);
}
.inner{
    height: 100%;
    width: 0%;
    border-radius: 50px;
    background-color: green;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom h2{
    font-size: 60px;
    font-weight: 100;
}
.bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}
.bottom button:active{
    scale: 0.95;;
} 


















/* button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;;
} */