*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'helvetica neue';
    
   
}
html,body{
    height: 100%;
    width: 100%;
    
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    
    background-color: white;
    width: 400px;
    padding: 20px;
    
    border-radius: 10px;
    position: absolute;
}
.card div{
    position: relative;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}
.card h2{
    font-size: 20px;
    text-align: center;
}
.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 75px;
    opacity: 0;
    /* background: linear-gradient(to right bottom,rgb(180, 11, 180),rgb(239, 6, 209)); */
    background-image: url(https://img.freepik.com/premium-vector/veliky-novgorod-russia-oktober-11-2021-instagram-gradient-background_522680-261.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transform: translate(-50%,-50% ) scale(0) rotate(-60deg);
    transition: all cubic-bezier(.65,.1,.77,1.44) 0.4s;
}
