*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'helvetica neue';
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
    
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    padding: 10px 20px;
    font-weight: 600;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 9;
}
button:active{
    scale: 0.95;;
}