*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: #111;
    color: #fff;
}
#nav{
    padding: 10px 30px;
}
#nav a {
    color: #fff;
    font-size: 25px;
    margin-right: 1%;
    text-decoration: none;
}