@font-face {
    font-family:f1;
    src: url(./Saphifen.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2070);
    background-size: cover;

    text-align: center;
    padding: 40px;
    
}
h1{
    font-size: 100px;
    font-family: f1;
    font-weight: 100;
}
button{
    font-size: 20px;
    padding: 10px 25px;
    color: white;
    background-color: orangered;
    border: 2px solid white;
    font-weight: 500;
}
button:hover{
    background-color: darkorange;
    transform: scale(1.05);
}